<footer class="bg-light footer mt-auto py-3">
    <small class="d-block text-muted">Made By &#169; Jakob Yousri 2021.</small>
    <section class="mb-1 networks">
        <small class="mb-1 text-muted">Social Networks:</small>
        <div>
            <a class="icons" href="https://hr.linkedin.com/in/jakobyousri" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="icons" href="https://www.facebook.com/jakob.yousri" target="_blank"><i class="fab fa-facebook"></i></a>
            <a class="icons" href="https://www.instagram.com/jakobyousri/?hl=en" target="_blank"><i
                    class="fab fa-instagram"></i></a>
        </div>
        </section>
    <small class="text-muted">TV Shows API &#169; tvmaze.com/api</small>
</footer>