<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/dtbzkm9ef/image/upload/w_80/v1637102200/Facebook_Post_940x788_px_3_lfwxod.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">        
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/?type=Action">Action</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/?type=Comedy">Comedy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/?type=Horror">Horror</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/?type=Thriller">Thriller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/?type=Drama">Drama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/?type=Romance">Romance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/?type=Mystery">Mystery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/?type=Anime">Anime</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-search">
                <form class="ml-auto" action="/" method="GET">
                    <li class="nav-item ml-auto d-flex">
                        <input class="form-control" type="input" name="search" placeholder="search for a TV show...">
                        <button class="d-inline btn btn-outline-primary ml-2"><i class="fas fa-search"></i></button>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</nav>